 body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #4FA6C0;
            }

            h1 {
                color: #FFFFFF;
                background-color: #5ABEDC;
                padding: 1.5rem;
            }
            p {
               margin: 1.5rem;

            }
            img {
                float: right;
                border: 2px #FFFFFF solid; /**controls border width, color, line style**/
                margin: .65rem;
                max-width: 100%;

            }
            